name: Workflow


on:
  push:
    branches: [ main ]

jobs:
  pylint:
    name: Pylint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Running pylint
      run: |
        mkdir -p badges
        mkdir -p reports
        find . -type f -name "*.py" | xargs pylint | tee reports/pylint.txt | grep 'Your code has been rated at' | cut -d' ' -f 7 | cut -d'/' -f 1 > badges/pylint.txt
    - name: Upload files
      uses: EndBug/add-and-commit@v7.4.0
      with:
        pull: 'NO-PULL'
        push: "--force"
        message: 'update pylint'
        add: '["reports/pylint.txt", "badges/pylint.txt"]'
  pylint-badge:
    name: Pylint badge
    runs-on: ubuntu-latest
    needs: [pylint]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Creating pylint badge
      run: |
        mkdir -p badges
        rm -f badges/pylint.svg
        anybadge --value=$(cat badges/pylint.txt) -f badges/pylint.svg pylint
    - name: Upload files
      uses: EndBug/add-and-commit@v7.4.0
      with:
        pull: 'NO-PULL'
        push: "--force"
        message: 'pylint badge'
        add: '["badges/pylint.svg"]'
  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Running coverage
      run: |
        coverage run -m pytest
      continue-on-error: true
    - name: Coverage Report
      run: |
        coverage html
        mv htmlcov coverage
    - name: Creating coverage badge
      run: |
        mkdir -p badges
        mkdir -p reports
        coverage report | tee reports/coverage.txt | grep 'TOTAL' | tr -s " " | cut -d' ' -f 4 | cut -d'%' -f 1 > badges/coverage.txt
    - name: Upload files
      uses: EndBug/add-and-commit@v7.4.0
      with:
        pull: 'NO-PULL'
        push: "--force"
        message: 'update coverage'
        add: '["coverage.txt", "badges/coverage.txt", "coverage/*"]'
  coverage-badge:
    name: Coverage badge
    runs-on: ubuntu-latest
    needs: [coverage]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Creating coverage badge
      run: |
        mkdir -p badges
        rm -f badges/coverage.svg
        anybadge --value=$(cat badges/coverage.txt) -f badges/coverage.svg coverage
    - name: Upload files
      uses: EndBug/add-and-commit@v7.4.0
      with:
        pull: 'NO-PULL'
        push: "--force"
        message: 'coverage badge'
        add: '["badges/coverage.svg"]'
  date:
    name: Date
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Get current date
      run: TZ='UTC' date > date.txt
    - name: Upload files
      uses: EndBug/add-and-commit@v7.4.0
      with:
        pull: 'NO-PULL'
        push: "--force"
        message: 'update date'
        add: '["date.txt"]'
  pytest:
    name: Pytest
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Running pytest
      run: |
        mkdir -p reports
        pytest | tee reports/pytest.txt
    - name: Upload files
      uses: EndBug/add-and-commit@v7.4.0
      with:
        pull: 'NO-PULL'
        push: "--force"
        message: 'update date'
        add: '["reports/pytest.txt"]'
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: [pytest, pylint, coverage, date]
    steps:
    - name: Install SSH key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.SSH_KEY }}
        known_hosts: ${{ secrets.KNOWN_HOSTS }}
        if_key_exists: replace
    - name: Updating remote
      run: ssh ${{ secrets.SSH_HOST }} "cd ~/db/deployment-bot-6; git reset --hard; git pull"
    - name: Stopping remote
      run: ssh ${{ secrets.SSH_HOST }} "sudo screen -XS bot quit"
      continue-on-error: true
    - name: Starting remote
      run: ssh ${{ secrets.SSH_HOST }} "cd ~/db/deployment-bot-6; sudo screen -S bot -d -m python3 ./main.py"
