name: Workflow

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Get current date
      id: date
      run: TZ='UTC' date > date.txt
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install anybadge
        pip install pylint
        pip install pytest
        pip install coverage
        pip install discord.py
    - name: Removing old badges
      run: |
        mkdir -p badges
        cd badges
        rm -rf *
        cd ..
    - name: Running pylint
      run: |
        pylint `ls -R | grep .py | xargs` | grep 'Your code has been rated at' | cut -d' ' -f 7 | cut -d'/' -f 1 > pylint.txt
    - name: Creating pylint badge
      run: |
        anybadge --value=$(cat pylint.txt) -f badges/pylint.svg pylint
    - name: Running coverage
      run: |
        coverage run -m pytest
      continue-on-error: true
    - name: Creating coverage badge
      run: |
        coverage report | grep 'TOTAL' | tr -s " " | cut -d' ' -f 4 | cut -d'%' -f 1 > coverage.txt
        anybadge --value=$(cat coverage.txt) -f badges/coverage.svg coverage
    - name: Upload files
      uses: EndBug/add-and-commit@v7
      with:
        message: 'update files'
        add: "['badges/*.svg', '*.txt']"
