name: Workflow


on:
  push:
    branches: [ main ]

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Check last push
      run: |
        if [[ *"automated"* == $(git log -1) ]]; then
          exit 1
        fi
  remove:
    name: Remove
    runs-on: ubuntu-latest
    needs: [check]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Remove files
      uses: EndBug/add-and-commit@v7.4.0
      with:
        pull: 'NO-PULL'
        push: "--force"
        message: 'automated file removal'
        remove: '["date.txt", "pylint.txt", "coverage.txt", "badges/*", "coverage/*"]'
  wait:
    name: Wait
    runs-on: ubuntu-latest
    needs: [remove]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Wait for update
      run:
        while (git log -1 | grep -q 'automated');
          do git pull;
          sleep 1;
        done;
  pylint:
    name: Pylint
    runs-on: ubuntu-latest
    needs: [wait]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Running pylint
      run: |
        mkdir -p badges
        find . -type f -name "*.py" | xargs pylint | tee pylint.txt | grep 'Your code has been rated at' | cut -d' ' -f 7 | cut -d'/' -f 1 > badges/pylint.txt
    - name: Creating pylint badge
      run: |
        anybadge --value=$(cat badges/pylint.txt) -f badges/pylint.svg pylint
    - name: Upload files
      uses: EndBug/add-and-commit@v7.4.0
      with:
        pull: 'NO-PULL'
        push: "--force"
        message: 'automated pylint update'
        add: '["pylint.txt", "badges/pylint.svg", "badges/pylint.txt"]'
  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    needs: [wait]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Running coverage
      run: |
        coverage run -m pytest
      continue-on-error: true
    - name: Coverage Report
      run: |
        coverage html
        mv htmlcov coverage
    - name: Creating coverage badge
      run: |
        mkdir -p badges
        coverage report | tee coverage.txt | grep 'TOTAL' | tr -s " " | cut -d' ' -f 4 | cut -d'%' -f 1 > badges/coverage.txt
        anybadge --value=$(cat badges/coverage.txt) -f badges/coverage.svg coverage
    - name: Upload files
      uses: EndBug/add-and-commit@v7.4.0
      with:
        pull: 'NO-PULL'
        push: "--force"
        message: 'automated coverage update'
        add: '["coverage.txt", "badges/coverage.svg", "badges/coverage.txt", "coverage/*"]'
  date:
    name: Date
    runs-on: ubuntu-latest
    needs: [wait]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Get current date
      run: TZ='UTC' date > date.txt
    - name: Upload files
      uses: EndBug/add-and-commit@v7.4.0
      with:
        pull: 'NO-PULL'
        push: "--force"
        message: 'done automated date update'
        add: '["date.txt"]'
  pytest:
    name: Pytest
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Running pytest
      run: |
        pytest
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: [pytest, pylint, coverage, date]
    steps:
    - name: Install SSH key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.SSH_KEY }}
        known_hosts: ${{ secrets.KNOWN_HOSTS }}
        if_key_exists: replace
    - name: Updating remote
      run: ssh ${{ secrets.SSH_HOST }} "cd ~/db/deployment-bot-6; git reset --hard; git pull"
    - name: Stopping remote
      run: ssh ${{ secrets.SSH_HOST }} "sudo screen -XS bot quit"
      continue-on-error: true
    - name: Starting remote
      run: ssh ${{ secrets.SSH_HOST }} "cd ~/db/deployment-bot-6; sudo screen -S bot -d -m python3 ./main.py"
