name: Workflow

concurrency: main

on:
  push:
    branches: [ main ]

jobs:
  pylint:
    name: Pylint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Emulating env
      run: |
        cp tests/env env.py
    - name: Running pylint
      run: |
        mkdir -p badges
        mkdir -p reports
        rm -f badges/pylint.txt
        rm -f reports/pylint.txt
        find . -type f -name "*.py" | xargs pylint | tee reports/pylint.txt | grep 'Your code has been rated at' | cut -d' ' -f 7 | cut -d'/' -f 1 > badges/pylint.txt
    - name: Upload files
      uses: nick-invision/retry@v2.4.0
      with:
        timeout_minutes: 10
        max_attempts: 10
        command: |
          git config user.name ${{ github.actor }}
          git config user.email ${{ github.actor }}@users.noreply.github.com
          git add badges/pylint.txt
          git add reports/pylint.txt
          git commit --allow-empty -m "Update pylint"
          git checkout .
          git pull --rebase
          git push
  pylint-badge:
    name: Pylint badge
    runs-on: ubuntu-latest
    needs: [pylint]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Creating pylint badge
      run: |
        mkdir -p badges
        rm -f badges/pylint.svg
        anybadge --value=$(cat badges/pylint.txt) -f badges/pylint.svg pylint
    - name: Upload files
      uses: nick-invision/retry@v2.4.0
      with:
        timeout_minutes: 10
        max_attempts: 10
        command: |
          git config user.name ${{ github.actor }}
          git config user.email ${{ github.actor }}@users.noreply.github.com
          git add badges/pylint.svg
          git commit --allow-empty -m "Update pylint badge"
          git checkout .
          git pull --rebase
          git push
  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Emulating env
      run: |
        cp tests/env env.py
    - name: Running coverage
      run: |
        coverage run -m pytest
      continue-on-error: true
    - name: Coverage Report
      run: |
        coverage html
        mv htmlcov coverage
    - name: Creating coverage badge
      run: |
        mkdir -p badges
        mkdir -p reports
        coverage report | tee reports/coverage.txt | grep 'TOTAL' | tr -s " " | cut -d' ' -f 4 | cut -d'%' -f 1 > badges/coverage.txt
    - name: Upload files
      uses: nick-invision/retry@v2.4.0
      with:
        timeout_minutes: 10
        max_attempts: 10
        command: |
          git config user.name ${{ github.actor }}
          git config user.email ${{ github.actor }}@users.noreply.github.com
          git add badges/coverage.txt
          git add reports/coverage.txt
          git commit --allow-empty -m "Update coverage"
          git checkout .
          git pull --rebase
          git push
  coverage-badge:
    name: Coverage badge
    runs-on: ubuntu-latest
    needs: [coverage]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Creating coverage badge
      run: |
        mkdir -p badges
        rm -f badges/coverage.svg
        anybadge --value=$(cat badges/coverage.txt) -f badges/coverage.svg coverage
    - name: Upload files
      uses: nick-invision/retry@v2.4.0
      with:
        timeout_minutes: 10
        max_attempts: 10
        command: |
          git config user.name ${{ github.actor }}
          git config user.email ${{ github.actor }}@users.noreply.github.com
          git add badges/coverage.svg
          git commit --allow-empty -m "Update coverage badge"
          git checkout .
          git pull --rebase
          git push
  date:
    name: Date
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Get current date
      run: |
        export TZ="UTC"
        date | tee date.txt | tee data.txt
    - name: Upload files
      uses: nick-invision/retry@v2.4.0
      with:
        timeout_minutes: 10
        max_attempts: 10
        command: |
          git config user.name ${{ github.actor }}
          git config user.email ${{ github.actor }}@users.noreply.github.com
          git add date.txt
          git add data.txt
          git commit --allow-empty -m "Update date"
          git checkout .
          git pull --rebase
          git push
  pytest:
    name: Pytest
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Emulating env
      run: |
        cp tests/env env.py
    - name: Running pytest
      run: |
        mkdir -p reports
        pytest | tee reports/pytest.txt
    - name: Upload files
      uses: nick-invision/retry@v2.4.0
      with:
        timeout_minutes: 10
        max_attempts: 10
        command: |
          git config user.name ${{ github.actor }}
          git config user.email ${{ github.actor }}@users.noreply.github.com
          git add reports/pytest.txt
          git commit --allow-empty -m "Update pytest"
          git checkout .
          git pull --rebase
          git push
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: [pytest, pylint, coverage, date]
    steps:
    - name: Updating remote
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        script: |
          cd ~/db/deployment-bot-6
          sudo chmod -R 777 .
          git fetch origin
          git reset --hard origin/main
          git pull
          sudo screen -XS bot quit
          sudo screen -S bot -d -m python3 ./main.py
