name: Workflow

on:
  [push, pull_request]


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Get current date
      run: TZ='UTC' date > date.txt
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Remove old badges
      run: |
        mkdir -p badges
        cd badges
        rm -rf *
        cd ..
    - name: Running pylint
      run: |
        find . -type f -name "*.py" | xargs pylint | tee pylint.txt | grep 'Your code has been rated at' | cut -d' ' -f 7 | cut -d'/' -f 1 > badges/pylint.txt
    - name: Creating pylint badge
      run: |
        anybadge --value=$(cat badges/pylint.txt) -f badges/pylint.svg pylint
    - name: Running coverage
      run: |
        coverage run -m pytest
      continue-on-error: true
    - name: Creating coverage badge
      run: |
        coverage report | tee coverage.txt | grep 'TOTAL' | tr -s " " | cut -d' ' -f 4 | cut -d'%' -f 1 > badges/coverage.txt
        anybadge --value=$(cat badges/coverage.txt) -f badges/coverage.svg coverage
    - name: Upload files
      uses: EndBug/add-and-commit@v7
      with:
        message: 'update files'
        add: "['badges/*', '*.txt']"
